@font-face {
  font-family: 'iconfont';  /* project id 2040936 */
  src: url('//at.alicdn.com/t/font_2040936_bm5pnb1o01a.eot');
  src: url('//at.alicdn.com/t/font_2040936_bm5pnb1o01a.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2040936_bm5pnb1o01a.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2040936_bm5pnb1o01a.woff') format('woff'),
  url('//at.alicdn.com/t/font_2040936_bm5pnb1o01a.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2040936_bm5pnb1o01a.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
	content: "\e62e";
}
